.sidebar {
    width: 240px;
    background-color: var(--sidebar);
    min-height: 100vh;
    color: white;
}

.sidebar-header {
    padding: 20px;
    font-size: 20px;
    font-weight: bold;
    color: var(--primary);
}

.sidebar-menu {
    list-style: none;
    padding: 0;
}

.sidebar-menu li {
    padding: 15px 20px;
    cursor: pointer;
}

.sidebar-menu li:hover,
.sidebar-menu .active {
    background-color: rgba(255, 122, 0, 0.15);
    color: var(--primary);
}
.sidebar-menu li a {
    color: inherit;
    text-decoration: none;
    display: block;
    width: 100%;
}

.sidebar-menu li a:hover {
    color: var(--primary);
}